{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}

<div id='flatmates' class='flatmates flatmate'>
  {% if flatmates %}
  <h2>Flatmates</h2>
    <ul>
    {% for flatmate in flatmates %}
      <li>{{ flatmate.name|title }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <a href="{{ url_for('new_flatmates') }}" class='action'>Add new flatmate(s)</a>
</div>

<div id='deliveries' class='deliveries delivery'>
  {% if deliverys %}
  <h2>Deliveries</h2>
    <table>
    {% for delivery in deliverys %}
      <tr>
        <td><a href="{{ url_for('display_delivery', delivery_id=delivery.id) }}">{{ delivery.date.strftime('%A %-d %b') }}</a></td>
        <td>£ {{ delivery.total }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
  <a href="{{ url_for('paste_receipt') }}" class='action'>Add a new delivery</a>
</div>


{% endblock %}