{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}

<div id='flatmates'>
  {% if flatmates %}
    <ul>
    {% for flatmate in flatmates %}
      <li>{{ flatmate }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <a href="{{ url_for('new_flatmates') }}">Add new flatmate(s)</a>
</div>

<div id='order'>
  {% if orders %}
    <table>
    {% for shop_order in orders %}
      <tr>
        <td>
          <a href="{{ url_for('display_order', order_id = shop_order['id']) }}">
          {{ shop_order['delivery_date'] }}
          </a>
        </td>
        <td>
          {{ shop_order['total'] }}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
  <a href="{{ url_for('paste_receipt') }}">Add a new order</a>
</div>


{% endblock %}