@font-face{
            font-family:'FontAwesome';
            src:url('font/fontawesome-webfont.eot?v=4.0.1');
            src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') 
            format('embedded-opentype'),
            url('font/fontawesome-webfont.woff?v=4.0.1') 
            format('woff'),
            url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),
            url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');
            font-weight:normal;
            font-style:normal
        }


        h1, h2, h3, h4, h5, h6 {
            font-family: 'Source Sans Pro', sans-serif!important;
        }
        p, div {
            font-family: 'Source Sans Pro', sans-serif!important;
        }
        .bg {
            height: 100%;
            background: url("images/background.jpg");
            background-size: cover;
            opacity:0.8;
            background-attachment: fixed;
            background-position: center;
            padding: 5px 75px 50px 0;
        }
        .nav {
            text-align: center;
        }
        p {
            color: black;
            font-weight:bold
        }
        .smaller {
            font-size: 70px;
            margin: 0 0 0 10px;
        }
        .not_as_small {

            font-size: 30px;
        }
        .outside p {
            margin-bottom: 0;
        }
        #smaller_black {
            font-size: 45px;
            color: rgb(51, 51, 51);
            text-align: center;
            line-height: 29px;
        }
        #subscribe {
            margin-top: 60px;
            color: white;
            font-weight: bold;
        }
        .underline {
            text-decoration: underline;
        }

        @-webkit-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @-moz-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @-o-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        #rotator {
            margin: 30px 0 0 80px;
            height: 460px;
        }
        .explain_potcy {
            min-height: 500px;
            background-image: url("backgroundnoisy.png");
            background-size: ;
            background-attachment: fixed;
            background-position: center;
            padding: 20px;
        }
        h2 {
            color: black;
        }
        h3 {
            color: black;
        }
        #first_signup {
            margin-left: 0px;
        }

        .center {
            text-align: center;
            height: 5px;
        }
        form {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .contact li, .contact2 li {
            display: inline;
            margin-left: 10px;
        }
        .contact a {
            color: black;
        }
        .contact a:hover {
            text-decoration: none;
            color: rgb(255, 255, 0);
        }
        .contact2 a {
            color: black;
        }
        .contact2 a:hover {
            text-decoration: none;
            color: rgb(0, 255, 0);
        }
        #border {
            height: 65px;
            margin-top: 30px;
        }
        .outside {
            text-align: center;
        }
        #line {
            margin-top: 20px;
            margin-bottom: 33px;
            border: 0;
            border-top: 3px solid #333333;
            width: 18.3%;
        }
        .link {
            color: rgb(51, 51, 51);
            border-bottom:1px dotted rgb(51, 51, 51);
            text-decoration: none;
        }
        .link:hover {
            color: rgb(0, 255, 0);
            border-bottom:1px dotted rgb(0, 255, 0);
            text-decoration: none;
            font-weight: bold;
        }