@media (max-width: 600px) { 
	.bg {
		padding: 10px 0 50px 0;
	}
	p {
		text-align: center;
		margin: 0;
	}
    #rotator {
    	padding-top: 25px;
	    margin: 0 auto;
	    height: 380px;
	}

	.form-group {

		margin: 0 auto;
		float: none;
	}

	.explain_potcy {
	    padding: 15px;
	}
	#small_logo {
	display: none;
	}
	#top_form {
		padding: 0 15px;
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	#secondform {
		text-align: center;
	}
	#socmed{
		text-align: center;
	}
	.contact, .contact2 {
		padding: 0;
		margin-top: 5px;
	}
}